html{
    background-color: antiquewhite;    
}
/*-------------------------------------------------------------nav tops------------------------------------------*/
    .bg-img {
        /* The image used */
        background-image: url("https://github.com/gwenfuri2/KolaK9/blob/main/navprints.png?raw=true");
      
        min-height: 80px;
      
        /* Center and scale the image nicely */
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        
        /* Needed to position the navbar */
        position: relative;
      }
      
      /* Position the navbar container inside the image */
      .container {
        position: absolute;
        margin: 20px;
        width: auto;
      }
      
      /* The navbar */
      .topnav {
        overflow: hidden;
        background-color: #a60f2d;
      }
      
      /* Navbar links */
      .topnav a {
        float: left;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 19px;
        text-decoration: none;
        font-size: 17px;
      }
      
      .topnav a:hover {
        background-color: #4d4d4d;
        color: black;
      }
